/* сброс стандартных отступов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1440px;

  margin: 0 auto; /* 🔥 центрирование */

  padding-left: 60px;
  padding-right: 60px;
}
@font-face {
  font-family: "ForestSmooth";
  src: url("fonts/ForestSmooth-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Unageo";
  src: url("fonts/Unageo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* базовый стиль страницы */
body {
  font-family: "Unageo", sans-serif;

  background: #000000;
  color: #E6FDFF;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "ForestSmooth", sans-serif;
}
.bg {
  position: absolute; /* 🔥 вместо fixed */
  top: 60px;
  left: 0;

  width: 100%;
  height: 100vh; /* 🔥 только первый экран */

  background-image: url("https://s13.gifyu.com/images/bqG3O.gif");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;

  transform: scaleY(-1);

  z-index: -1;
}
@media (max-width: 768px) {
  .bg {
    background-position: calc(100% + 200px) center;
  }
}
@media (max-width: 768px) {
  body::before {
    height: 100%;
  }
}
.header {
   position: fixed;
  width: 100%;
  height: 90px;
 z-index: 1000;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px); /* для Safari */

  background: rgba(0, 0, 0, 0.2); /* 20% чёрного */

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.header-container {
  max-width: 1440px;
  margin: 0 auto; /* 🔥 ВОТ ЭТО ГЛАВНОЕ */

  display: flex;
  justify-content: space-between;
  align-items: center;

   padding: 30px 60px;
}
nav {
  display: flex;
  gap: 20px;
}

nav a {
  font-size: 20px;
  color: #E6FDFF;
  text-decoration: none;
  position: relative;
}
nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 1px;
  background: #E6FDFF;

  transform: scaleY(0.5);
  transform-origin: center;

  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
  left: 0;
}
.logo {
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 30px;
  height: 30px;
}

.logo span {
  font-size: 24px;
}

@media (max-width: 768px) {

  .header {
    position: fixed;
    bottom: 0;
    top: auto;

    left: 0;
    transform: none;

    width: 100%;
    height: 70px;

    border-radius: 0; /* ❌ убрали скругления */

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }

}
@media (max-width: 768px) {

  .header-container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
  }

}
@media (max-width: 768px) {

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }

}
@media (max-width: 768px) {

  .logo span {
    display: none;
  }

}
@media (max-width: 768px) {
  nav {
    display: none;
  }
}
@media (max-width: 768px) {
  .header {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
}
.hero {
  min-height: 100vh;
 position: relative;
  display: flex;
  justify-content: center;
  align-items: center; /* 🔥 теперь работает правильно */

  text-align: center;
}
.hero-content {
  transform: translateY(-6vh);
}

@media (max-width: 768px) {
  .hero-content {
    transform: translateY(-4vh);
  }
}

/* 🔥 ЗАГОЛОВОК */
.hero h1 {
  font-family: "ForestSmooth", sans-serif;
  font-weight: 400;

  font-size: clamp(48px, 8vw, 128px);

  margin-top: 40px;
  margin-bottom: 20px;

  line-height: 1.1;
}

/* 🔥 ТЕКСТ */
.subtitle {
  font-size: clamp(12px, 2vw, 20px);
  margin-bottom: 40px;
  opacity: 1;
}

/* 🔥 КНОПКА */
.hero-btn {
  margin-bottom: 60px;
}
@media (max-width: 768px) {

  .hero h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: -1px; /* 🔥 сжимает текст */
    line-height: 1.05;      /* чуть компактнее */
  }

  .subtitle {
  letter-spacing: -0.5px;  /* 🔥 сжатие */
    
    margin-bottom: 40px;
  }

  .hero-btn {
    margin-bottom: 40px;
  }

}
@media (max-width: 768px) {
  .mouse {
    content: url("images/hand.svg");
  }
}
.tags {
  position: relative;

  display: inline-flex;
  align-items: center;

  /* 🔥 адаптивные отступы */
  gap: clamp(8px, 2vw, 12px);
  padding: clamp(8px, 1.5vw, 10px) clamp(16px, 3vw, 20px);

  border-radius: 30px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  /* 🔥 адаптивный текст */
  font-size: clamp(12px, 2vw, 20px);

  border: 1px solid rgba(255, 255, 255, 0.04);

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.04),
    inset 0 -1px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px rgba(0, 0, 0, 0.25);

  border-left: 1px solid rgba(230, 253, 255, 0.6);
  border-right: 1px solid rgba(230, 253, 255, 0.6);
}
.hero-btn {
  position: relative;
  padding: 12px 28px;
 
  border-radius: 12px;
  border: none;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);

  color: #E6FDFF;
  font-size: 20px;

  cursor: pointer;
  overflow: hidden;
}
@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
.bg {
  pointer-events: none;
}

.hero-btn {
  position: relative;
  z-index: 100;
}

.hero-btn::before {
  pointer-events: none;
}

.hero-content {
  position: relative;
  z-index: 2;
}
.hero-btn::before {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: 12px;
  padding: 1px;

  --angle: 0deg;

  background: conic-gradient(
  from var(--angle),

  rgba(180, 140, 255, 0.55),
  rgba(160, 120, 255, 0.5),

  rgba(122, 252, 255, 0.55),
  rgba(100, 230, 255, 0.5),

  rgba(180, 140, 255, 0.55),
  rgba(200, 160, 255, 0.5),

  rgba(122, 252, 255, 0.55),
  rgba(140, 255, 255, 0.5),

  rgba(180, 140, 255, 0.55)
  
);
filter: blur(0.3px);

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;

  transition: --angle 0.8s ease;
}


.hero-btn::before {
  transition: --angle 1s ease;
}
.hero-btn:active::before {
  background: conic-gradient(
    from var(--angle),
    rgba(180, 140, 255, 0.8),
    rgba(122, 252, 255, 0.8),
    rgba(180, 140, 255, 0.8),
    rgba(122, 252, 255, 0.8),
    rgba(180, 140, 255, 0.8)
  );
}
.hero-btn:not(:hover)::before {
  --angle: 0deg;
}
.hero-btn:hover::before {
  --angle: 360deg;
}
.scroll {
  margin-top: 40px;
 pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

   font-size: clamp(12px, 2vw, 20px);
}

.scroll .line {
  position: relative;

  width: 120px;
  height: 10px; /* увеличили контейнер */

  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll .line::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 1px;

  background: rgba(230, 253, 255, 0.6);
}

.mouse {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 18px;
  height: auto;

  z-index: 2; /* 🔥 важно — поверх линии */

  animation: mouseMove 2.2s ease-in-out infinite;
}
@keyframes mouseMove {
  0% {
    transform: translate(-50%, -50%);

  }

  50% {
    transform: translate(-50%, -35%);

  }

  100% {
    transform: translate(-50%, -50%);

  }
}

.dot {
  width: 5px;
  height: 5px;

  background: #E6FDFF;
  border-radius: 50%;

  display: block; /* 🔥 убираем inline-кривизну */
  animation: softPulse 2s ease-in-out infinite;
  opacity: 0.4;
}
@keyframes softPulse {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 0 0 1px rgba(230, 253, 255, 0.4);
  }

  100% {
    opacity: 0.6;
    transform: scale(1);
  }
}

/* карточки */
.works {
  padding: 100px 0px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

grid-template-columns: 1fr 1.05fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1200px) {

  .works {
    padding: 80px 10px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr; /* 🔥 1 в ряд */
    gap: 10px;
  }
.card {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    transform: none !important;
    margin-top: 0 !important;
  }
}
@media (max-width: 1200px) {

  .card:nth-child(2) { order: 1; }

  .card:nth-child(5) { order: 2; }
  .card:nth-child(7) { order: 3; }
  .card:nth-child(9) { order: 4; }
  .card:nth-child(8) { order: 5; }
  .card:nth-child(10) { order: 6; }
  .card:nth-child(11) { order: 7; }

  .card:nth-child(12) { order: 8; }
  .card:nth-child(1) { order: 9; }
  .card:nth-child(3) { order: 10; }
  .card:nth-child(4) { order: 11; }
  .card:nth-child(6) { order: 12; }

}
@media (max-width: 1200px) {

  .card {
    transform: none !important; /* 🔥 убираем ВСЕ сдвиги */
    aspect-ratio: 1 / 1;
  }

 

  .card:nth-child(3n + 2) {
    aspect-ratio: 1 / 1; /* 🔥 делаем обычными */
  }

  .card:nth-child(2) {
    aspect-ratio: 450 / 480; /* 🔥 остаётся особенной */
  }
}


.card {
  width: 100%;
   transform: translateY(var(--y, 0)) translateZ(0);
  will-change: transform;
   contain: layout paint;
  height:auto; /* 🔥 авто высота */
   aspect-ratio: 1 / 1;/* 🔥 квадрат */

  position: relative;
  overflow: hidden;
}
.card img {
 width: 100%;
  height: 100%;
  object-fit: cover;

  display: block;
filter: grayscale(100%);
  transform: translateZ(0);
  transition: transform 0.8s ease, filter 0.6s ease;
  transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.card:hover img {
  transform: scale(1.08);
}


.card:hover img {
  transform: scale(1.08);
  filter: grayscale(0%);
}

.card:nth-child(1) {
  grid-column: span 1;
  grid-row: span 1;
}

.card:nth-child(3n + 2) {
  
  aspect-ratio: 1 / 1;   /* остаётся квадрат */
  min-height: 450px; 
}


.card:nth-child(2) {
  aspect-ratio: 450 / 480;
}

.card:nth-child(3) {
  grid-column: span 1;
  grid-row: span 1;
}
.card:nth-child(1) { transform: translateY(0); }
.card:nth-child(2) { transform: translateY(-74px); }
.card:nth-child(3) { transform: translateY(0); }

/* ряд 2 */
.card:nth-child(4) { transform: translateY(-50px); }
.card:nth-child(5) { transform: translateY(-74px); }
.card:nth-child(6) { transform: translateY(-50px); }

/* ряд 3 */
.card:nth-child(7) { transform: translateY(-70px); }
.card:nth-child(8) { transform: translateY(-70px); }
.card:nth-child(9) { transform: translateY(-70px); }
/* ряд 4 */
.card:nth-child(10) { transform: translateY(-94px); }
.card:nth-child(11) { transform: translateY(-70px); }
.card:nth-child(12) { transform: translateY(-94px); }
.card-overlay {
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 14px;
  border-radius: 10px;

  font-family: "Unageo", light; /* тот же шрифт */
  font-weight: 300; /* как у subtitle */

  font-size: clamp(20px, 2vw, 20px); /* тот же размер */
  color: #E6FDFF; /* тот же цвет */

  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}
.arrow {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden; /* 🔥 ключ */
}

.arrow img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: transform 0.7s cubic-bezier(0.22, 1, 0.36, 1);
}

/* вторая стрелка */
.arrow img.second {
  transform: translate(-120%, 120%); /* 🔥 добавили отступ */
}

/* первая уезжает чуть дальше */
.card:hover .arrow img:first-child {
  transform: translate(120%, -120%);
}

/* вторая приходит не резко */
.card:hover .arrow img.second {
  transform: translate(0, 0);
}
@media (max-width: 768px) {
.container {
    padding: 0 10px; /* 🔥 вот это главное */
  }
  .works {
    padding: 80px 10px; /* 🔥 отступы по 10 */
  }

  .grid {
    grid-template-columns: 1fr; /* 🔥 одна колонка */
    gap: 10px;
  }

  .card {
    width: 100%;

    height: auto; /* 🔥 высота авто */
    aspect-ratio: 1 / 1; /* 🔥 аккуратный квадрат */

    transform: none !important; /* убираем сдвиги */
    max-width: none;
  }

  /* первая карточка чуть выше */
  .card:nth-child(1) {
    aspect-ratio: 370 / 395;
  }

  /* убираем десктопные отличия */
  .card:nth-child(3n + 2) {
    aspect-ratio: 1 / 1;
  }

}
.card:nth-child(2) .card-overlay {
  opacity: 0;
  transition: opacity 0.6s ease;
}
.card:nth-child(2):hover .card-overlay {
  opacity: 1;
}
.card:nth-child(2) .card-overlay {
  top: 12px;
  bottom: auto;
}
.card:nth-child(2) .arrow {
  display: none;
}
.card:nth-child(2) .card-overlay {
  top: 12px;
  bottom: auto;

  justify-content: center; /* 🔥 центр по горизонтали */
  text-align: center;      /* 🔥 текст по центру */
}


/* блок всплывания карточек*/

.modal {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;

  transition: 0.4s ease;
  z-index: 9999;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

/* затемнение + glass */
.modal-overlay {
  position: absolute;
  inset: 0;

  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
}

/* контент */
.modal-content {
  position: relative;
  z-index: 2;

   width: 100%;
  height: 100%;
  padding: 0 60px;
 overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image {
  display: block;

  max-width: 100%;
  max-height: 100%;

  width: auto;
  height: auto;
}

.modal-close {
  position: absolute; /* ❗ вместо fixed */

  top: 20px;
  left: 0;

  z-index: 10000;

  width: 60px;
  height: 60px;

  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(230,253,255,0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0 16px 16px 0;
}

/* стрелка */
/* контейнер */
.arrow {
  position: relative;
  width: 26px;
  height: 26px;
  overflow: hidden;
}

/* обе стрелки */
.arrow img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

/* ===== ЛЕВАЯ ===== */
.arrow.left img.second {
  transform: translateX(120%);
}

.modal-nav.left:hover .arrow.left img:first-child {
  transform: translateX(-120%);
}

.modal-nav.left:hover .arrow.left img.second {
  transform: translateX(0);
}

/* ===== ПРАВАЯ (едет вправо) ===== */

.arrow.right {
  transform: rotate(180deg);
}

/* вторая стрелка изначально СЛЕВА */
.arrow.right img.second {
  transform: translateX(120%);
}

/* первая уезжает ВПРАВО */
.modal-nav.right:hover .arrow.right img:first-child {
  transform: translateX(-120%);
}

/* вторая заезжает */
.modal-nav.right:hover .arrow.right img.second {
  transform: translateX(0);
}
.modal-nav {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);

  cursor: pointer;

  z-index: 1000;

  pointer-events: auto; /* 🔥 ВАЖНО */
}
.modal-image-wrapper {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;   /* 🔥 вертикальный центр */
  justify-content: center; /* 🔥 горизонтальный центр */
}
@media (max-width: 768px) {

  .modal-content {
    padding: 0 10px;
  }

  .modal-close {
    top: 10px;   /* под мобильные отступы */
    left: 0;
  }

}
.modal-image {
  width: 100%;          /* 🔥 растягивается */
  max-width: 1440px;    /* 🔥 но не больше 1440 */

  max-height: 90vh;

  height: auto;

  display: block;
  transition: transform 0.5s cubic-bezier(0.22,1,0.36,1);
}
.modal-slider {
  position: absolute;
  inset: 0;

  display: none;
}

@media (max-width: 768px) {
  .slide-inner {
    margin: 0 10px;
  }
}
/* картинка */
.modal-slide img {
  width: 100%;
  max-width: 1440px; /* 🔥 только лимит */
  max-height: 90vh;
  height: auto;
}
@media (max-width: 768px) {
  .slide-inner {
    margin: 0 10px;
  }
}
.modal-slide {
  position: absolute;
  inset: 0;

  display: none;
  align-items: center;
  justify-content: center;
}

.modal-slide.active {
  display: flex;
}
.modal-slider {
  touch-action: pan-y;
}
.modal-nav {
  width: 60px;
  height: 100%;
}
.single-image {
  position: relative;
}
.slider-btn {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  color: #E6FDFF;

  background: rgba(0,0,0,0.2);
  backdrop-filter: blur(6px);

  border: none;
  cursor: pointer;

  opacity: 0;
  transition: 0.3s;
}

.slide-inner:hover .slider-btn {
  opacity: 1;
}

.slider-btn.left {
  left: 0;
}

.slider-btn.right {
  right: 0;
}

.slide-inner {
  position: relative;

  width: fit-content;
  height: fit-content;

  max-width: 1440px;
  max-height: 90vh;



  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .slide-inner {
    margin: 0 10px; /* мобилка */
  }
}

.modal-message p {
  font-family: "Unageo", sans-serif;
  font-weight: 300;

  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.6;

  max-width: 800px;

  margin: 0 auto; /* 🔥 центр по горизонтали */
}
.modal-message {
  position: fixed; /* 🔥 ключ — не absolute */
  inset: 0;

  display: none;

  align-items: center;
  justify-content: center;

  text-align: center;

  padding: 10px;

  z-index: 9999; /* выше всего */
}
/* затемнение + центр */
.modal-hint-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
  z-index: 99999;
}

/* коробка */
.hint-box {
  padding: 20px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  background: rgba(0,0,0,1);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(230,253,255,0.3);
  border-radius: 16px;

  font-family: "Unageo";
  font-weight: 300;
  font-size: 14px;
  color: #E6FDFF;

  opacity: 0;
  transform: scale(0.9);
}
/* иконка */
.hint-icon {
  width: 36px;
  opacity: 0.8;
  animation: clickAnim 1.2s ease-in-out infinite;
}

/* анимация клика */
@keyframes clickAnim {
  0% { transform: scale(1); }
  50% { transform: scale(0.85); }
  100% { transform: scale(1); }
}

/* появление */
.modal-hint-overlay.show .hint-box {
  animation: hintPop 0.2s ease forwards;
}

.modal-hint-overlay.hide .hint-box {
  animation: hintOut 0.3s ease forwards;
}

@keyframes hintPop {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hintOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.modal-nav {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(230,253,255,0.4);
  cursor: pointer;

  z-index: 10000;
}

.modal-nav.left {
  left: 0;
  border-radius: 0 16px 16px 0;
}

.modal-nav.right {
  right: 0;
  border-radius: 16px 0 0 16px;
}

.arrow.right {
  transform: rotate(180deg);
}


/* ОБО МНЕ */

.about {
  margin-top: 0px;
}

/* линии */
.about-line {
  height: 0.6px;
  background: rgba(230,253,255,0.6);
}

.about-line.top {
  margin-bottom: 60px;
}

.about-line.mid {
  margin: 20px 0;
}

.about-line.bottom {
  margin-top: 20px;
}

/* layout */
.about-content {
  display: flex;
  align-items: stretch;

  gap: clamp(20px, 5vw, 60px); /* 🔥 адаптивный отступ */
}
.about-text {
   font-size: clamp(16px, 1.2vw, 20px);
}

.about-right {
  margin-left: auto;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
}

.about-right img {
  width: 100%;
  height: 100%;

  object-fit: cover; /* 🔥 теперь обрезается */
}
/* левая колонка */
.about-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 1;
  min-width: 0;

  max-width: 702px; /* 🔥 ограничение */
}
/* заголовок */
.about-left h2 {
  font-family: "ForestSmooth";
  font-size: clamp(42px, 5vw, 64px);
  margin-bottom: 20px;
  line-height: 1.1;
}


/* навыки */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill {
  font-family: "Unageo";
  font-weight: 300; /* 🔥 light */
  font-size:  20px;
  padding: 10px 16px;

  border-radius: 10px;

  background: rgba(0,0,0,0.8);

  color: #E6FDFF;

  border: 1px solid rgba(230,253,255,0.15);

  box-shadow:
    inset 0 1px 0 rgba(230,253,255,0.15),
    inset 0 -2px 4px rgba(0,0,0,0.6);
}
.about-title.mobile {
  display: none;
}
.about-line.mobile-top {
  display: none;
}

/* по умолчанию (десктоп) */
/* по умолчанию */
.about-title.mobile {
  display: none;
}
.about-text {
  font-family: "Unageo", sans-serif; /* ✅ имя, не файл */
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
}

/* мобилка */
@media (max-width: 1200px) {

  .about-title.desktop {
    display: none; /* 🔥 скрыли старый */
  }

  .about-title.mobile {
    display: block;
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
  }

}

/* мобилка */
@media (max-width: 1200px) {

  .about-line.top {
    margin-bottom: 40px;
  }

  .about-text {
    margin-bottom: 40px;
  }

  .about-line.mid {
    margin: 40px 0;
  }

  .skills {
    margin-bottom: 40px;
  }
  .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

 .about-right {
    order: 1; /* 🔥 фото вверх */
    width: 100%;
  }

  .about-left {
    order: 2; /* 🔥 текст вниз */
    max-width: 100%;
  }
  .about-right img {
    width: 100%;
    height: auto;
  }

  .skills {
    justify-content: center;
    
  }
 .skill {
    font-size: clamp(12px, 2.5vw, 20px);
    padding: 8px 14px;
  }
}


/* ПОСЛЕДНИЕ РАБОТЫ */

/* ===== ПОСЛЕДНИЕ РАБОТЫ ===== */

.latest {
  padding-top: 60px; /* 🔥 вместо 100px */
  padding-bottom: 100px; /* можешь оставить */
}
.latest-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.latest h3 {
  font-family: "Unageo";
  font-weight: 300;
  font-size: 32px;
}
/* сетка */
.latest-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* карточка */
.latest-card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;

  contain: layout paint; /* 🔥 фикс */
}
.latest-arrow-box {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  border-radius: 10px;

  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(230,253,255,0.15);

  box-shadow:
    inset 0 1px 0 rgba(230,253,255,0.15),
    inset 0 -2px 4px rgba(0,0,0,0.6);
}
/* картинка */
.latest-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 will-change: transform;
  filter: grayscale(100%);
  transition: transform 0.8s ease, filter 0.6s ease;
}

.latest-card:hover img {
  transform: scale(1.08);
  filter: grayscale(0%);
}
/* анимация стрелки для latest */

/* первая уезжает */
.latest-card:hover .arrow img:first-child {
  transform: translate(120%, -120%);
}
.arrow img {
  transition: transform 0.7s cubic-bezier(0.22, 1, 0.36, 1);
}
/* вторая заезжает */
.latest-card:hover .arrow img.second {
  transform: translate(0, 0);
}
.latest-arrow-box {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  border-radius: 10px;

  background: rgba(0,0,0,0.8);
  border: 1px solid rgba(230,253,255,0.15);

  box-shadow:
    inset 0 1px 0 rgba(230,253,255,0.15),
    inset 0 -2px 4px rgba(0,0,0,0.6);
}
.arrow.vertical {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;

  transform: rotate(0); /* вниз */
}

.arrow.vertical img {
  position: absolute;
  left: 0;

  width: 100%;
  height: 100%;
}

/* первая */
.arrow.vertical img:first-child {
  animation: arrowFlow 1.6s linear infinite;
}

/* вторая (чуть позже стартует) */
.arrow.vertical img.second {
  animation: arrowFlow 1.6s linear infinite;
  animation-delay: 0.8s;
}
/* overlay */
.latest-overlay {
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 14px;
  border-radius: 10px;

  font-family: "Unageo";
  font-weight: 300;
  font-size: 20px;

  color: #E6FDFF;

  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
}
@keyframes arrowFlow {
  0% {
    transform: translateY(-120%);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(120%);
    opacity: 0;
  }
}
@media (max-width: 1200px) {

  .latest {
    padding: 80px 0;
  }

  .latest-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

}

 /* ФОН 2 */
.bg-2 {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transform: translateZ(0) scale(-1, -1);

  pointer-events: none;
  z-index: -1;

  will-change: transform, opacity;
  backface-visibility: hidden;
}


/* КОНТАКТЫ */

.contacts {
  text-align: center;
  
  padding: 400px 0 0 0;
}
.contacts-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px; /* ✅ все расстояния внутри */
}
.status {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 8px 16px;
  border-radius: 30px;

  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(230,253,255,0.15);

  font-family: "Unageo";
  font-size: 20px;
}

.status .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #E6FDFF;

  animation: pulse 1.5s ease-in-out infinite;
}
@keyframes pulse {
  0% { opacity: 0.3; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.4); }
  100% { opacity: 0.3; transform: scale(1); }
}
.contacts-title {
  margin: 0;

  font-family: "Unageo";
  font-weight: 300;
  font-size: 32px;
  line-height: 1.4;
}

.socials {
  margin-top: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-btn {
  width: 60px;
  height: 60px;

  border-radius: 30px;
  border: 1px solid rgba(230,253,255,0.2);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  background: rgba(0, 0, 0, 0.9);
}
.social-btn::before {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: 30px;
  padding: 1px;

  background: conic-gradient(
    from 0deg,
    transparent,
    rgba(122,252,255,0.8),
    transparent
  );

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  opacity: 0;
  transition: 0.3s;
}
.social-btn:hover::before {
  opacity: 1;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.contact-btn {
  position: relative;
  padding: 12px 28px;

  border-radius: 12px;
  border: none;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);

  color: #E6FDFF;
  font-family: "Unageo";
  font-size: 20px;
  text-transform: uppercase;

  cursor: pointer;
  overflow: hidden;
}

.contacts-footer div {
  white-space: nowrap; /* 🔥 всегда в одну строку */
}
.contacts-footer {
  margin-top: 400px; /* ✅ теперь реально работает */
 width: 100%;
 display: flex;
   justify-content: space-between;
  align-items: center;

  font-size: 20px;
}
@media (max-width: 768px) {

  .status {
    font-size: 12px;
  }

  .contacts-title {
    font-size: 20px;
  }

   .contacts-footer {
    font-size: 12px;
 width: 100%;
    flex-direction: row; /* 🔥 ВАЖНО */
     justify-content: space-between; /* или space-between */
    gap: 20;
     overflow-x: auto;

    flex-wrap: nowrap; /* ❗ запрещаем перенос */
  }

  .contact-btn {
    font-size: 12px;
    padding: 12px 20px;
  }

  .social-btn {
    width: 50px;
    height: 50px;
  }
  .contacts-content {
    gap: 20px; /* 🔥 компактнее */
  }

 
  .social-btn img {
    width: 18px;
    height: 18px;
  }
}
.contact-btn::before {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: 12px;
  padding: 1px;

  --angle: 0deg;

  background: conic-gradient(
    from var(--angle),

    rgba(180, 140, 255, 0.55),
    rgba(160, 120, 255, 0.5),

    rgba(122, 252, 255, 0.55),
    rgba(100, 230, 255, 0.5),

    rgba(180, 140, 255, 0.55),
    rgba(200, 160, 255, 0.5),

    rgba(122, 252, 255, 0.55),
    rgba(140, 255, 255, 0.5),

    rgba(180, 140, 255, 0.55)
  );

  filter: blur(0.3px);

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  transition: --angle 1s ease;
}
.contact-btn:not(:hover)::before {
  --angle: 0deg;
}

.contact-btn:hover::before {
  --angle: 360deg;
}

.contact-btn:active::before {
  background: conic-gradient(
    from var(--angle),
    rgba(180, 140, 255, 0.8),
    rgba(122, 252, 255, 0.8),
    rgba(180, 140, 255, 0.8),
    rgba(122, 252, 255, 0.8),
    rgba(180, 140, 255, 0.8)
  );
}